/****** Main Styling ******/
:root {
  --background-color: hsl(0, 0%, 100%);
  --text-color: hsl(121, 95%, 16%);
  --border-color: hsl(121, 95%, 16%);
}


body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: var(--text-color);
  background-color: var(--background-color);
  text-align: center;
}

.container {
  padding: 0;
  margin-top: 40px;
}

.footer {
  margin-top: 60px;
}

ol {
  list-style-position: inside;
}

ul {
  list-style-type: none;
}

a {
  color: #2574A9;
}

input {
  display: block;
  position: relative;
  margin: 10px auto;
  font-size: 14px;
}

  input#button {
    width: 267px;
  }

.view {
  position: relative;
  margin: auto;
  margin-top: 40px;
  border: 1px solid var(--border-color);
  padding: 20px;
  width: 60%;
  min-width: 300px;
}
/****** Logo Div Styling ******/

img {
  margin: 20px auto 0 auto;
  display: block;
}
